:root {
  --dark-green: #143109;
  --dark-tan: #aaae7f;
  --light-tan: #d0d6b3;
  --white: #f7f7f7;
  --cream: #efefef;
  --border-color: rgb(56, 54, 54);
}

body {
  background-color: var(--dark-tan);
}

.App {
  text-align: center;
}

.TextBox {
  background-color: var(--light-tan);
  border: 1px solid var(--border-color);
  width: 95%;
  max-width: 750px;
}

.PreviewArea {
  background-color: var(--light-tan);
  border: 1px solid var(--border-color);
  text-align: left;
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.Padding {
  padding-top: 20px;
}

img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

code {
  background-color: var(--cream);
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

pre {
  margin: 5px;
  padding: 5px;
  background-color: var(--cream);
  border-radius: 3px;
  border: 1px solid var(--border-color);
  overflow-x: scroll;
}

table,
th,
td {
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  padding: 5px;
}