:root {
  --dark-green: #143109;
  --dark-tan: #aaae7f;
  --light-tan: #d0d6b3;
  --white: #f7f7f7;
  --cream: #efefef;
  --border-color: black;
}

body {
  background-color: var(--dark-tan);
}

.App {
  text-align: center;
}

.TextBox {
  background-color: var(--light-tan);
  border: 1px solid var(--border-color);
}

.PreviewArea {
  /* padding-top: 20px; */
  background-color: var(--light-tan);
  border: 1px solid var(--border-color);
  text-align: left;
}

.Padding {
  padding-top: 20px;
}